* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.card a {
  color: inherit; /* This makes the link color the same as the parent element */
  text-decoration: none; /* Removes the underline from links */
}

.twitter-card {
  border: 1px solid #e1e8ed;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
}

.twitter-card img {
  border-radius: 50%;
  width: 48px; /* Adjust size as needed */
  height: 48px; /* Adjust size as needed */
  margin-right: 10px;
}

.twitter-card div {
  display: flex;
  flex-direction: column;
}

.twitter-card p {
  margin: 0;
  color: #333;
}

/* Style the link to match your design */
.twitter-card a {
  text-decoration: none;
  color: inherit;
}

.twitter-card a:hover {
  text-decoration: underline;
}

pre {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

code {
  font-family: monospace;
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
